* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  /* border: 2px solid black; */
  display: flex;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.navitems {
  /* border: 2px solid red; */
  display: flex;
  margin-left: 15px;
  justify-content: space-between;
  align-items: center;
}
.navitems a {
  /* border: 2px solid red; */
  margin: auto;
  margin-block: 10px;
  justify-content: space-between;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: #f8fafc;
}
.og {
  font-size: 30px;
  color: #10b981;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
}
.moon i {
  /* border: 2px solid blue; */
  font-size: 30px;
  padding: 15px;
}
.home {
  /* border: 2px solid #10b981; */
  color: #10b981;
}

nav a {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  padding: 10px;
}

.resume {
  /* border: 2px solid black; */
  color: white;
  background-color: #10b981;
  border-radius: 4px;
  padding: 10px;
  letter-spacing: 1px;
}
.images {
  width: 50%;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #e6f5ea;
}

.contact-form {
  /* border: 2px solid red; */
  background-color: #fff;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-form h3 {
  margin-bottom: 1rem;
  color: #10b981;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  /* border: 2px solid red; */
}
.contact-form input,
.contact-form select,
.contact-form textarea,
.contact-form button {
  display: block;
  /* margin-inline: 50px; */
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* border: 2px solid green; */
}
label {
  /* border: 2px solid red; */
  color: #10b981;
}
.contact-form button {
  background-color: #10b981;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.submit {
  max-width: 1200px;
  border: 2px solid red;
}

.bottom {
  /* border: 2px solid black; */
  padding-bottom: 40px;
  background-color: #1e293b;
}

.end a {
  margin-block: 15px;
  color: #fff;
}

/* .gtb{
    height: 80vh;
} */

.end {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  justify-items: center;
  /* margin-block: 20px; */
  /* background-color: #1e293b; */
}

.end1 a {
  /* border: 2px solid red; */
  font-size: 20px;
  padding: 10px;
  padding-right: 20px;
}

.copy {
  /* border: 2px solid green; */
  color: white;
  font-size: small;
}
.copy a span {
  text-transform: capitalize;
  color: red;
  font-style: italic;
}

.twitter {
  /* border: 2px solid red; */
  color: #1d9bf0;
  /* background-color: blue; */
}
