@keyframes colour {
  0% {
    color: #10b981;
    left: 0px;
    top: 0px;
  }
  25% {
    color: darkblue;
    left: 200px;
    top: 0px;
  }
  50% {
    color: purple;
    left: 200px;
    top: 200px;
  }
  75% {
    color: black;
    left: 0%;
    top: 200px;
  }
  100% {
    color: #10b981;
    left: 0px;
    top: 0px;
  }
  /* 
from {background-color: #d1fae5;}
to {background-color: yellow;} */
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

nav {
  /* border: 2px solid black; */
  display: flex;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.navitems {
  /* border: 2px solid red; */
  display: flex;
  margin-left: 15px;
  justify-content: space-between;
  align-items: center;
}
.navitems a {
  /* border: 2px solid red; */
  margin: auto;
  margin-block: 10px;
  justify-content: space-between;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: #f8fafc;
}
.og {
  font-size: 30px;
  color: #10b981;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
}

.moon i {
  /* border: 2px solid blue; */
  font-size: 30px;
  padding: 15px;
}
.home {
  /* border: 2px solid #10b981; */
  color: #10b981;
}

nav a {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  padding: 10px;
}
.resume {
  /* border: 2px solid black; */
  color: white;
  background-color: #10b981;
  border-radius: 4px;
  padding: 10px;
  letter-spacing: 1px;
  animation-name: colour;
}

.firstclass {
  /* border: 2px solid black; */
  max-width: 100%;
  padding-inline: 120px;
  padding-block: 40px;
  background-color: #f1f5f9;
  display: flex;
}
.paragraph h1 {
  /* border: 2px solid red; */
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 80px;
  margin-block: 20px;
  animation-name: colour;
  animation-duration: 4s;
  position: sticky;
  animation-delay: 3s;
  animation-iteration-count: 3;
  font-weight: bolder;
}
.paragraph p {
  margin-block: 35px;
  color: #94a3b8;
  text-align: left;
  font-size: 20px;
  letter-spacing: 2px;
  display: flex;
  line-height: 30px;
  animation-name: colour;
  animation-duration: 1s;
  position: relative;
  animation-delay: 2s;
  animation-iteration-count: 3;
}

.image {
  /* border: 2px solid black; */
  /* padding: 200px; */
  padding-right: 100px;
  padding-inline: 200px;
  padding-top: 100px;
}
/* .image::before {
  position: static;
  animation-delay: 3s;
  animation-iteration-count: 3;
  border: 2px solid black;
} */

.container {
  /* border: 0.1px solid rgb(180, 179, 179); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #d1fae5;
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
  margin-block: 1rem;
}

.head {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  /* color: black; */
  /* border: 2px solid green; */
  margin: 10px;
}

.head > h2 {
  color: white;
  /* border: 2px solid black; */
  margin-block: 20px;
  color: black;
  display: flex;
  justify-content: center;
}
.box1 {
  color: #10b981;
  /* border: 2px solid red; */
  margin-block: 10px;
}

strong {
  /* border: 2px solid black; */
  color: #10b981;
  font-size: 30px;
  letter-spacing: 1px;
}

li {
  /* border: 2px solid pink; */
  list-style: none;
  color: #222;
  margin-block: 10px;
  letter-spacing: 0.5px;
  font-weight: 5;
}

li a {
  /* border: 2px solid red; */
  text-decoration: none;
  color: black;
  font-weight: 300;
}
li i {
  /* border: 2px solid red; */
  color: #64748b;
  size: 3px;
}

.bottom {
  padding-bottom: 40px;
  background-color: #1e293b;
}

.end a {
  margin-block: 15px;
  color: #fff;
}

.copy {
  font-size: large;
}

.end {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.end1 a {
  /* border: 2px solid red; */
  font-size: 20px;
  padding: 10px;
  padding-right: 20px;
}
.whatsapp {
  /* border: 2px solid pink; */
}
.copy {
  /* border: 2px solid green; */
  color: white;
  font-size: small;
}
.copy a span {
  text-transform: capitalize;
  color: red;
  font-style: italic;
}

.twitter {
  /* border: 2px solid red; */
  color: #1d9bf0;
  /* background-color: blue; */
}

.resume:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
@media (min-width: 260px) and (max-width: 400px) {
  nav {
    display: none;
    position: fixed;
  }
  .paragraph {
    flex-direction: column;
  }
  .firstclass {
    flex-direction: column;
  }
  .bottom {
    flex-direction: column;
  }
  image {
    flex-direction: column;
    padding-right: 50px;
  }
}
